.App {
  text-align: center;
}

.Nav {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  
}

li {
  display: inline;
  padding: 10px;
  text-align: center;
  
}

.Header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Body {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px);
  color: white;
  
}
.App-link {
  color: #61dafb;
}


